/* ปุ่มเปิด-ปิดเมนู สามขีด*/
.menu-button {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 45px;
  font-size: 45px;
  display: flex;
  align-items: center; /*จัดให้ไอคอนอยู่ตรงกลางแนวตั้ง*/
  justify-content: center; /*ตรงกลางแนวตนอน*/
  background: #0d6efd;
  color: white;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;  /*🖱️->👆*/

  z-index: 1000;
}
/*ขนาดความกว้างของเมนู สีน้ำเงิน*/
.navbar {
  position: fixed;
  top: 0;
  left: -320px;

  width: min(320px, 85vw);
  height: 100%;

  background: #07182d;

  padding: 20px;
  box-sizing: border-box;
  transition: 0.3s;

  z-index: 999;
}

.navbar.open {
  left: 0;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
  font-size: 30px;
  background: transparent;
  border: none;
}

.menu-item {
  display: flex;
  padding: 14px 20px;
  margin-bottom: 6px;
  color: white;
  text-decoration: none;
  border-radius: 10px; /* ขอบมน */
}

/* ไอคอนหน้าข้อความ */
.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/* สีการเลื่อนแบบไม่คลิก*/
.menu-item:hover {
  background: #12345a;
}


.menu-item.active {
  background: #0d6efd;
  color: white;
}

